.row{width:100%;
height:600px;
display:flex;
background-color: darksalmon;
justify-content:space-around;
align-items:center ;
}
.col{
    width:22%;
    height:100px;

}
.row1{width:100%;
    height:350px;
    display:flex;
    background-color: darksalmon;
    justify-content:space-around;
    align-items:center ;
    }

div{
    text-align: center;
}
#b1{
    margin-top:70px;
    width:200px;
}
#b2{
    margin-top:100px;
    width:200px;
}
#b3{
    margin-top:100px;
    width:200px;
}